@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>MedsWebAppExpert!</b></h1>
    <p>Our goal is to make your life easier!</p>
    <h1 class="display-4"><u>MedsWebAppExpert</u></h1>
    <p> ... is an application made for those who hate long waiting lines and a lot of papers.</p>
   
</div>
